In [1]:
import requests
import json  # will be needed for saving preprocessing details
import numpy as np  # for data manipulation
import pandas as pd  # for data manipulation
from sklearn.model_selection import train_test_split  # will be used for data split

In [2]:
# load dataset
df = pd.read_csv(
    'https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv',
    skipinitialspace=True)
x_cols = [c for c in df.columns if c != 'income']

# set input matrix and target column
X = df[x_cols]
y = df['income']

# show first rows of data
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.1,
                                                    random_state=0)

In [4]:
for i in range(10):
    input_data = dict(X_test.iloc[i])
    target = y_test.iloc[i]
    
    r = requests.post(
        "http://127.0.0.1:8000/api/v1/income_classifier/predict?status=ab_testing",
        input_data)
    response = r.json()
    
    # provide feedback
    requests.put(
        "http://127.0.0.1:8000/api/v1/mlrequests/{}".format(
            response["request_id"]), {"feedback": target})